.hidden {
    display: none;
}
.btn-close {
    display: none;
}
/* PC */
@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }
}
/* Tablet and Mobile */
@media (max-width: 991px) {
    .fix-header {
        display: none;
    }
    .header-mobile {
        padding: 30rem;
    }
    .btn-toggle {
        color: #000;
        width: 28rem;
    }
    #btn-toggle-input {
        display: none;
    }

    .header-mobile-overplay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: all 500ms ease-in-out;
    }
    #btn-toggle-input:checked ~ .header-mobile-overplay {
        opacity: 1;
        visibility: visible;
    }
    .header-mobile-nav {
        padding: 40rem 0;
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 1;
        transform: translateX(-100%);
        transition: all 500ms ease-in-out;
    }
    #btn-toggle-input:checked ~ .header-mobile-nav {
        transform: translateX(0);
    }
    #btn-toggle-input:checked ~ .header-mobile-nav {
        transform: translateX(0);
    }
    .header-mobile-nav-list {
        margin-top: 10rem;
    }
    .header-mobile-nav-link {
        display: block;
        padding: 20rem 30rem;
        color: black;
        font-weight: 500;
        font-size: 20rem;
    }
    .header-mobile-nav-link:hover {
        background: orange;
    }
    .header-mobile-logo {
        margin-inline: 30rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn-close svg {
        width: 28rem;
        color: red;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
}
/* Mobile */
@media (max-width: 767px) {
    .btn-close {
        display: block;
    }
    .header-mobile-nav {
        inset: 0 0 0 0;
    }
}
